<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css"/>

    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="img/lion.jpg" class="portrait" alt="lion_image"/>
    </div>
    {{>footer}}
</body>
</html>